.title{
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 50px;
    height: 30px;
    text-align: center;
    font-size: 250%;
    color:  #E48167;
}

.principal{
    position: relative;
    display: flex;
    background-color: #f2f0f5;
    

}
    .logo {
    width: 20%;
    box-align: left;
    margin-right: 420px;
    margin-left: 90px;
    margin-bottom: 70px;
    
}
    .lista{
    color: black;
    font-size: 130%;
    width: 35%;
    background-color:#f2f0f5;
    margin-top: 70px;
    block-size: 20%;
    line-break: 50px;
    line-height: 50px;
   
    
    /*font-weight: bold;*/
   
    
    
}