@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

footer {
    background: #BF4E30;
    padding: 1rem;
}

footer p {
    color: #fff;
    font-family: 'Text Me One', sans-serif;
}