.search{
    border-radius: 100px;
    border-color: #E48167;
    text-align: center;
    padding-top:2%;
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
}


.buttonFilter {
    position: absolute;
    width: 3%;
    margin-left: -4%;
    margin-top: 5.4%;
}

.pontoColeta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.tituloPontoColeta {
    color: #E48167;
    font-weight: 200;
    flex-direction: column;
}


.cardPontos{
   
    flex-direction: column;
    display: inline-block;
   
    margin-bottom: 20%;
}


.card{
    
    text-align: justify;
    display: flex;
   
    margin: 0 4% !important;
    
}
.text{
    position: absolute;
    padding-left: 60%;
    font-size: 70%;

   
   }
.desc{
    position: absolute;
    margin-top: -10%;
    padding-left: 62%;
    text-align: justify;
}

.card img {
    justify-content: center;
    margin-right: 50%;
}